<a href="https://colab.research.google.com/github/vinifred/letsupgrade-python-/blob/master/day3_assignment(2_prime_number).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,200): 
	for j in range(2,i): 
		if(i % j==0): 
			break
	else: 
		print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199